.result {
    text-align: center;
}

.result__text {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
}

.result__text--smollerText {
    font-size: 10px;
    word-break: normal;
    line-height: 1.5;
}

.result__separator {
    margin: 0 20px;
}