.form {
    background: white;
    display: grid;
    grid-gap: 20px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0px -1px 20px 12px rgb(0 0 0 / 65%);
    border-radius: 10px;
    padding: 25px;
}

.form__labelText {
    margin: 15px 0;
}

.form__textArea {
    border: 2px solid #bdbdbd;
    padding: 10px;
    border-radius: 10px;
}

.form__textArea:required {
    border-color: rgb(128, 128, 128);

}

.form__name {
    padding: 10px;
    color: #132433;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.form__textArea--otherColor {
    background-color: #0177a9;
    color: white;
}

.form__labelBox {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-gap: 20px;
}

.form__labelBox--twoColumns {
    grid-template-columns: auto 64%;
}

.form__labelBox--expandedBox {
    grid-template-columns: 1fr;
}

.form__button {
    border: none;
    background: #132433;
    color: white;
    padding: 12px;
    border-radius: 10px;
    transition: 0.4s;
}

.form__button:hover {
    transform: scale(1.010);
    background: hsl(208.13deg 45.71% 35%);
}

.form__button:active {
    transform: scale(1);
    transition: 0.09s ease;
    background: hsl(208.13deg 45.71% 15%);
}

@media (max-width: 767px) {
    .form__labelBox {
        grid-template-columns: 1fr;
    }
}