.html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  height: 100vh;
  background-image: url("../public/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr;
}

.form__button {
  cursor: pointer;
}

.form__textArea--otherColor {
  cursor: pointer;
}