.form__labelText {
    max-width: 150px;
    width: 100%;
    display: inline-block;
    margin: 15px 5px;
    color: white;
}

.form__textArea {
    border: 2px solid #bdbdbd;
    padding: 10px;
    max-width: 213px;
    width: 100%;
}

.form__textArea:required {
    border-color: rgb(128, 128, 128);

}